<div class="user-grid">
  <div class="head_name"></div>
  <h1 class="heading">Users</h1>
  <div class="search-options">
    <div class="search-wrapper">
      <img src="../asset/search.png" alt="user" class="search_icon" />
      <input type="text" id="search" name="search" placeholder="Search by user..." value={{this.searchQuery}} {{on "input" this.updateSearchQuery}} />
    </div>
  </div>

  <div class="sort-options">
    <label for="sort">Sort by:</label>
    <select id="sort" name="sort" {{on "change" this.updateSortBy}}>
      <option value="asc-desc">Ascending - Descending</option>
      <option value="desc-asc">Descending - Ascending</option>
      <option value="new-old">New - Old</option>
      <option value="old-new">Old - New</option>
    </select>
  </div>

  <p class="total-count">Total : <b>{{this.totalCount}}</b></p>

  <button class="new-button" {{on "click" this.openNewUserPopup}}>New User</button>

  <div class="tiles">
    {{#each this.users as |user|}}
      <div class="tile">
        <a href="#" {{on "click" (fn this.showUserDetails user.name)}}>
          <img src="../asset/user.png" alt="user" class="u_icon" /><br>{{user.name}}
        </a>
      </div>
    {{else}}
      <h3 class="not_found">No users found</h3>
      <img src="../asset/empty.png" alt="No users" class="empty" />
    {{/each}}
  </div>

  {{#if this.selectedUser}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closePopup}}>X</button>
        <p>
          <strong>User Name:</strong>
          <i>{{this.selectedUser.name}}</i>
        </p>
        <p>
          <strong>Description:</strong>
          <i>{{this.selectedUser.description}}</i>
        </p>
        <p>
          <strong>Mail:</strong>
          <i>{{this.selectedUser.mail}}</i>
        </p>
        <p>
          <strong>Telephone Number:</strong>
          <i>{{this.selectedUser.telephoneNumber}}</i>
        </p>        
        <p>
          <strong>Address:</strong>
          <i>{{this.selectedUser.address}}</i>
        </p>
      </div>
    </div>
  {{/if}}

  {{#if this.isNewUserPopupVisible}}
    <div class="popup">
      <div class="popup-content">
        <button class="close-button" type="button" {{on "click" this.closeNewUserPopup}}>X</button>
        <h2>Create New User</h2>
        <form {{on "submit" this.createUser}}>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" value={{this.firstName}} {{on "input" this.updateFirstName}} required />

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" value={{this.lastName}} {{on "input" this.updateLastName}} required />

          <label for="displayName">Display Name:</label>
          <input type="text" id="displayName" name="displayName" value={{this.displayName}} {{on "input" this.updateDisplayName}} required />

          <label for="mail">Mail:</label>
          <input type="email" id="mail" name="mail" value={{this.mail}} {{on "input" this.updateMail}} required />

          <label for="description">Description:</label>
          <input type="text" id="description" name="description" value={{this.description}} {{on "input" this.updateDescription}} required />

          <label for="telephoneNumber">Telephone Number:</label>
          <input type="text" id="telephoneNumber" name="telephoneNumber" value={{this.telephoneNumber}} {{on "input" this.updateTelephoneNumber}} required />

          <button type="submit">Create User</button>
        </form>
        <div class="msg">
            {{#if this.createUserError}}
              <div class="error-message">{{this.createUserError}}</div>
            {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</div>